html, body {
  display: flex;
  justify-content: center;
  height: 100%;
  margin: 0px;
  padding: 0px;

  font-family: 'Rubik', sans-serif;
}
nav{
  width: 100vw;
  background-color: white;
  text-align: center;
}
li{
  list-style-type: none;
  display: inline-block;
  margin: 0 2vw;
  font-size: 2vh;
  padding: 1vw;
  margin-left: 0;
  margin-right: 0;
}
a{
  text-decoration: none;
  color: #999999;
  align-items: center;
}
ul {
  padding: 0;
  display: inline-block;
}
h1 {
  text-align: center;
  margin-top: 1px;
}
a:hover{
  color: #fbc99d;
}
.navbar{
  position: fixed;
  padding-top: 0px;
}
.name {
  font-family: 'Indie Flower', cursive;
  color: #fbc99d;
  font-size: 112px;
  padding-top: 0;
}
.vl {
  display: inline-block;
  border-left: 1px solid #fbc99d;
  height: 20px;
  vertical-align: middle;
}
