html {
  scroll-behavior: smooth;
}
html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;

  font-family: 'Rubik', sans-serif;
}
nav{
  width: 100vw;
  background-color: white;
  text-align: center;
}

li {
  list-style-type: none;
  display: inline-block;
  margin: 0 2vw;
  font-size: 2vh;
  padding: 1vw;
  margin-left: 0;
  margin-right: 0;
}

.descriptitem {
  display: list-item;
  list-style-type: circle;
  line-height: 25px;
}

a.navlink{
  text-decoration: none;
  color: #999999;
  align-items: center;
}
a.navlink:hover{
  color: #fbc99d;
}
a.headerlink{
  text-decoration: none;
  color: #fbc99d;
}
a.headerlink:hover{
  color: #999999;
}
ul {
  padding: 0;
  display: inline-block;
}
h1 {
  text-align: center;
  margin-top: 1px;
  margin-bottom: 0px;
}
.title{
  margin-left: 3vw;
}
.navbar{
  position: relative;
  padding-top: 0px;
}
.name {
  font-family: 'Indie Flower', cursive;
  color: #fbc99d;
  font-size: 112px;
  padding-top: 0;
}
.subname {
  padding-top:10vw;
  font-family: 'Rubik', sans-serif;
  color: #C0C0C0;
  font-size: 20px;
  padding-top: 1vw;
}
.vl {
  display: inline-block;
  border-left: 1px solid #fbc99d;
  height: 20px;
  vertical-align: middle;
}
.boxed {
  opacity: 0.2;
  border: 1.7px solid #C0C0C0;
  border-radius: 25px;
  height: 100vw;
  width: 25vw;
  margin-left: 10vw;
}
.img {
  border-radius: 15%
}
.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
<<<<<<< HEAD
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}
.column-one {
  text-align: justify;
  padding-right: 25vw;
  padding-left: 25vw;
  font-family: 'Rubik', sans-serif;
  font-weight:600;
  line-height: 25px;
}
=======
>>>>>>> ac77b33efd7e1b9724540d32e952e1cc001b2df1
.column-two{
  text-align: justify;
  padding-right: 25vw;
  padding-left: 25vw;
  font-family: 'Quicksand', sans-serif;
  font-weight:600;
  line-height: 25px;
}
.firstcharacter {
  float: left;
  font-size: 79px;
  line-height: 48px;
  padding-right: 8px;
  padding-left: 3px;
  color: #36454f;
  padding-top: 24px;

  font-family: 'Quicksand', sans-serif;
}
.funfacts {
  border-radius: 13px;
  background: #f5f5f1;
  border-collapse: separate;
  border-spacing: 2vw;
  width:100%;
  margin: 2vw;
  table-layout: fixed;
  width: 50vw;
}
<<<<<<< HEAD

.funfacts-header{
  font-family: 'Quicksand', sans-serif;
  color: #7E7E7D;
}

#page td {
   padding:0; margin:0;
}

=======

.funfacts-header{
  font-family: 'Quicksand', sans-serif;
  color: #7E7E7D;
}

#page td {
   padding:0; margin:0;
}

>>>>>>> ac77b33efd7e1b9724540d32e952e1cc001b2df1
.fact {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #7E7E7D;
  border-top: 1px solid #CBCBCB;
  width: 46%;
<<<<<<< HEAD
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 13px;
}

.dropdown-content a {
  color: #999999;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-radius: 13px;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

#education {
  height: 50%;
  overflow: auto;
}

#skills {
  height: 50%;
  overflow: auto;
}

#experience {
  height: 50%;
  overflow: auto;
}
#projects {
  height: 50%;
  overflow: auto;
}
#leadership {
  height: 50%;
  overflow: auto;
=======
>>>>>>> ac77b33efd7e1b9724540d32e952e1cc001b2df1
}
